<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>常</key>
		<array>
			<dict>
				<key>id</key>
				<string>yuantong</string>
				<key>name</key>
				<string>圆通速度</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<array>
			<dict>
				<key>id</key>
				<string>aolau</string>
				<key>name</key>
				<string>AOL澳通速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>a2u</string>
				<key>name</key>
				<string>A2U速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>aae</string>
				<key>name</key>
				<string>AAE快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>annengwuliu</string>
				<key>name</key>
				<string>安能物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>anxl</string>
				<key>name</key>
				<string>安迅物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>auexpress</string>
				<key>name</key>
				<string>澳邮中国快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>exfresh</string>
				<key>name</key>
				<string>安鲜达</string>
			</dict>
			<dict>
				<key>id</key>
				<string>anjie88</string>
				<key>name</key>
				<string>安捷物流</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>B</key>
		<array>
			<dict>
				<key>id</key>
				<string>bcwelt</string>
				<key>name</key>
				<string>BCWELT</string>
			</dict>
			<dict>
				<key>id</key>
				<string>baishiwuliu</string>
				<key>name</key>
				<string>百世快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>huitongkuaidi</string>
				<key>name</key>
				<string>百世快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>youzhengguonei</string>
				<key>name</key>
				<string>包裹/平邮/挂号信</string>
			</dict>
			<dict>
				<key>id</key>
				<string>baifudongfang</string>
				<key>name</key>
				<string>百福东方物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>bangsongwuliu</string>
				<key>name</key>
				<string>邦送物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xiaohongmao</string>
				<key>name</key>
				<string>北青小红帽</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lbbk</string>
				<key>name</key>
				<string>宝凯物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>bqcwl</string>
				<key>name</key>
				<string>百千诚物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>byht</string>
				<key>name</key>
				<string>博源恒通</string>
			</dict>
			<dict>
				<key>id</key>
				<string>idada</string>
				<key>name</key>
				<string>百成大达物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>baitengwuliu</string>
				<key>name</key>
				<string>百腾物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>balunzhi</string>
				<key>name</key>
				<string>巴伦支快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>birdex</string>
				<key>name</key>
				<string>笨鸟海淘</string>
			</dict>
			<dict>
				<key>id</key>
				<string>bsht</string>
				<key>name</key>
				<string>百事亨通</string>
			</dict>
			<dict>
				<key>id</key>
				<string>benteng</string>
				<key>name</key>
				<string>奔腾物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>cuckooexpess</string>
				<key>name</key>
				<string>布谷鸟速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>bgky100</string>
				<key>name</key>
				<string>邦工快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>bosind</string>
				<key>name</key>
				<string>堡昕德速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>banma</string>
				<key>name</key>
				<string>斑马物联网</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>C</key>
		<array>
			<dict>
				<key>id</key>
				<string>cloudexpress</string>
				<key>name</key>
				<string>CE易欧通国际速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>coe</string>
				<key>name</key>
				<string>COE（东方快递）</string>
			</dict>
			<dict>
				<key>id</key>
				<string>city100</string>
				<key>name</key>
				<string>城市100</string>
			</dict>
			<dict>
				<key>id</key>
				<string>chengjisudi</string>
				<key>name</key>
				<string>城际速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lijisong</string>
				<key>name</key>
				<string>成都立即送</string>
			</dict>
			<dict>
				<key>id</key>
				<string>chukou1</string>
				<key>name</key>
				<string>出口易</string>
			</dict>
			<dict>
				<key>id</key>
				<string>nanjingshengbang</string>
				<key>name</key>
				<string>晟邦物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>flyway</string>
				<key>name</key>
				<string>程光快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>chuanxiwuliu</string>
				<key>name</key>
				<string>传喜物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>cbo56</string>
				<key>name</key>
				<string>钏博物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>cex</string>
				<key>name</key>
				<string>城铁物流</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>D</key>
		<array>
			<dict>
				<key>id</key>
				<string>dhl</string>
				<key>name</key>
				<string>DHL中国</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dhlen</string>
				<key>name</key>
				<string>DHL国际</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dhlde</string>
				<key>name</key>
				<string>DHL德国</string>
			</dict>
			<dict>
				<key>id</key>
				<string>debangwuliu</string>
				<key>name</key>
				<string>德邦</string>
			</dict>
			<dict>
				<key>id</key>
				<string>datianwuliu</string>
				<key>name</key>
				<string>大田物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>coe</string>
				<key>name</key>
				<string>东方快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>disifang</string>
				<key>name</key>
				<string>递四方</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dayangwuliu</string>
				<key>name</key>
				<string>大洋物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>diantongkuaidi</string>
				<key>name</key>
				<string>店通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dechuangwuliu</string>
				<key>name</key>
				<string>德创物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>donghong</string>
				<key>name</key>
				<string>东红物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dsukuaidi</string>
				<key>name</key>
				<string>D速物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>donghanwl</string>
				<key>name</key>
				<string>东瀚物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dfpost</string>
				<key>name</key>
				<string>达方物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dongjun</string>
				<key>name</key>
				<string>东骏快捷物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dindon</string>
				<key>name</key>
				<string>叮咚澳洲转运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dazhong</string>
				<key>name</key>
				<string>大众佐川急便</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ahdf</string>
				<key>name</key>
				<string>德方物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>decnlh</string>
				<key>name</key>
				<string>德中快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dekuncn</string>
				<key>name</key>
				<string>德坤供应链</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dasu</string>
				<key>name</key>
				<string>达速物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dehaoyi</string>
				<key>name</key>
				<string>德豪驿</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dhlpaket</string>
				<key>name</key>
				<string>DHL Paket</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ubuy</string>
				<key>name</key>
				<string>德国优拜物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>adlerlogi</string>
				<key>name</key>
				<string>德国雄鹰速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yunexpress</string>
				<key>name</key>
				<string>德国云快递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>E</key>
		<array>
			<dict>
				<key>id</key>
				<string>EXPRESS</string>
				<key>name</key>
				<string>EU</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ems</string>
				<key>name</key>
				<string>EMS快递查询</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emsguoji</string>
				<key>name</key>
				<string>EMS国际快递查询</string>
			</dict>
			<dict>
				<key>id</key>
				<string>eshunda</string>
				<key>name</key>
				<string>俄顺达</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ewe</string>
				<key>name</key>
				<string>EWE全球快递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>F</key>
		<array>
			<dict>
				<key>id</key>
				<string>fedex</string>
				<key>name</key>
				<string>FedEx快递查询</string>
			</dict>
			<dict>
				<key>id</key>
				<string>fedexus</string>
				<key>name</key>
				<string>FedEx美国</string>
			</dict>
			<dict>
				<key>id</key>
				<string>fedexuk</string>
				<key>name</key>
				<string>FedEx英国</string>
			</dict>
			<dict>
				<key>id</key>
				<string>fox</string>
				<key>name</key>
				<string>FOX国际速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>rufengda</string>
				<key>name</key>
				<string>凡客如风达</string>
			</dict>
			<dict>
				<key>id</key>
				<string>feikangda</string>
				<key>name</key>
				<string>飞康达物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>feibaokuaidi</string>
				<key>name</key>
				<string>飞豹快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>feihukuaidi</string>
				<key>name</key>
				<string>飞狐快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>fanyukuaidi</string>
				<key>name</key>
				<string>凡宇速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>fandaguoji</string>
				<key>name</key>
				<string>颿达国际快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>feiyuanvipshop</string>
				<key>name</key>
				<string>飞远配送</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hnfy</string>
				<key>name</key>
				<string>飞鹰物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>fengxingtianxia</string>
				<key>name</key>
				<string>风行天下</string>
			</dict>
			<dict>
				<key>id</key>
				<string>flysman</string>
				<key>name</key>
				<string>飞力士物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>fbkd</string>
				<key>name</key>
				<string>飞邦快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sccod</string>
				<key>name</key>
				<string>丰程物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>farlogistis</string>
				<key>name</key>
				<string>泛远国际物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>crazyexpress</string>
				<key>name</key>
				<string>疯狂快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ftlexpress</string>
				<key>name</key>
				<string>法翔速运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ftd</string>
				<key>name</key>
				<string>富腾达快递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>G</key>
		<array>
			<dict>
				<key>id</key>
				<string>gls</string>
				<key>name</key>
				<string>GLS</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gsm</string>
				<key>name</key>
				<string>GSM</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gaticn</string>
				<key>name</key>
				<string>GATI快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gts</string>
				<key>name</key>
				<string>GTS快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>youzhengguonei</string>
				<key>name</key>
				<string>挂号信/国内邮件</string>
			</dict>
			<dict>
				<key>id</key>
				<string>guotongkuaidi</string>
				<key>name</key>
				<string>国通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>youzhengguoji</string>
				<key>name</key>
				<string>国际邮件查询</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ganzhongnengda</string>
				<key>name</key>
				<string>港中能达物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gdkd</string>
				<key>name</key>
				<string>港快速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gongsuda</string>
				<key>name</key>
				<string>共速达</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gtongsudi</string>
				<key>name</key>
				<string>广通速递（山东）</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hre</string>
				<key>name</key>
				<string>高铁速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gda</string>
				<key>name</key>
				<string>冠达快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gscq365</string>
				<key>name</key>
				<string>哥士传奇速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gjwl</string>
				<key>name</key>
				<string>冠捷物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xdshipping</string>
				<key>name</key>
				<string>国晶物流</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>H</key>
		<array>
			<dict>
				<key>id</key>
				<string>tiandihuayu</string>
				<key>name</key>
				<string>华宇物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hengluwuliu</string>
				<key>name</key>
				<string>恒路物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hlyex</string>
				<key>name</key>
				<string>好来运快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>huaxialongwuliu</string>
				<key>name</key>
				<string>华夏龙物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>tiantian</string>
				<key>name</key>
				<string>海航天天</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hebeijianhua</string>
				<key>name</key>
				<string>河北建华</string>
			</dict>
			<dict>
				<key>id</key>
				<string>haimengsudi</string>
				<key>name</key>
				<string>海盟速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>huaqikuaiyun</string>
				<key>name</key>
				<string>华企快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>haoshengwuliu</string>
				<key>name</key>
				<string>昊盛物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hutongwuliu</string>
				<key>name</key>
				<string>户通物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hzpl</string>
				<key>name</key>
				<string>华航快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>huangmajia</string>
				<key>name</key>
				<string>黄马甲快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ucs</string>
				<key>name</key>
				<string>合众速递（UCS）</string>
			</dict>
			<dict>
				<key>id</key>
				<string>pfcexpress</string>
				<key>name</key>
				<string>皇家物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>huoban</string>
				<key>name</key>
				<string>伙伴物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>nedahm</string>
				<key>name</key>
				<string>红马速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>huiwen</string>
				<key>name</key>
				<string>汇文配送</string>
			</dict>
			<dict>
				<key>id</key>
				<string>nmhuahe</string>
				<key>name</key>
				<string>华赫物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hjs</string>
				<key>name</key>
				<string>猴急送</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hangyu</string>
				<key>name</key>
				<string>航宇快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>huilian</string>
				<key>name</key>
				<string>辉联物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>huanqiu</string>
				<key>name</key>
				<string>环球速运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>huada</string>
				<key>name</key>
				<string>华达快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>htwd</string>
				<key>name</key>
				<string>华通务达物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hipito</string>
				<key>name</key>
				<string>海派通</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hqtd</string>
				<key>name</key>
				<string>环球通达</string>
			</dict>
			<dict>
				<key>id</key>
				<string>airgtc</string>
				<key>name</key>
				<string>航空快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>haoyoukuai</string>
				<key>name</key>
				<string>好又快物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hanrun</string>
				<key>name</key>
				<string>韩润物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ccd</string>
				<key>name</key>
				<string>河南次晨达</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hfwuxi</string>
				<key>name</key>
				<string>和丰同城</string>
			</dict>
			<dict>
				<key>id</key>
				<string>skypost</string>
				<key>name</key>
				<string>荷兰 Sky Post</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hongxun</string>
				<key>name</key>
				<string>鸿讯物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hongjie</string>
				<key>name</key>
				<string>宏捷国际物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>httx56</string>
				<key>name</key>
				<string>汇通天下物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lqht</string>
				<key>name</key>
				<string>恒通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>higo</string>
				<key>name</key>
				<string>黑狗物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hyytes</string>
				<key>name</key>
				<string>恒宇运通</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hengrui56</string>
				<key>name</key>
				<string>恒瑞物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ghl</string>
				<key>name</key>
				<string>环创物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hnqst</string>
				<key>name</key>
				<string>河南全速通</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>I</key>
		<array/>
	</dict>
	<dict>
		<key>J</key>
		<array>
			<dict>
				<key>id</key>
				<string>jiajiwuliu</string>
				<key>name</key>
				<string>佳吉物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jiayiwuliu</string>
				<key>name</key>
				<string>佳怡物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jiayunmeiwuliu</string>
				<key>name</key>
				<string>加运美快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jixianda</string>
				<key>name</key>
				<string>急先达物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jinguangsudikuaijian</string>
				<key>name</key>
				<string>京广速递快件</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jinyuekuaidi</string>
				<key>name</key>
				<string>晋越快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jd</string>
				<key>name</key>
				<string>京东快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jietekuaidi</string>
				<key>name</key>
				<string>捷特快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jiuyicn</string>
				<key>name</key>
				<string>久易快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jiuyescm</string>
				<key>name</key>
				<string>九曳供应链</string>
			</dict>
			<dict>
				<key>id</key>
				<string>junfengguoji</string>
				<key>name</key>
				<string>骏丰国际速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jiajiatong56</string>
				<key>name</key>
				<string>佳家通</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jrypex</string>
				<key>name</key>
				<string>吉日优派</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jinchengwuliu</string>
				<key>name</key>
				<string>锦程国际物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jgwl</string>
				<key>name</key>
				<string>景光物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>pzhjst</string>
				<key>name</key>
				<string>急顺通</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ruexp</string>
				<key>name</key>
				<string>捷网俄全通</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jialidatong</string>
				<key>name</key>
				<string>嘉里大通</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jmjss</string>
				<key>name</key>
				<string>金马甲</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jiacheng</string>
				<key>name</key>
				<string>佳成快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>jsexpress</string>
				<key>name</key>
				<string>骏绅物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hrex</string>
				<key>name</key>
				<string>锦程快递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>K</key>
		<array>
			<dict>
				<key>id</key>
				<string>kuaijiesudi</string>
				<key>name</key>
				<string>快捷快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>kangliwuliu</string>
				<key>name</key>
				<string>康力物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>kuayue</string>
				<key>name</key>
				<string>跨越速运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>kuaiyouda</string>
				<key>name</key>
				<string>快优达速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>kuaitao</string>
				<key>name</key>
				<string>快淘快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>happylink</string>
				<key>name</key>
				<string>开心快递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>L</key>
		<array>
			<dict>
				<key>id</key>
				<string>lianbangkuaidi</string>
				<key>name</key>
				<string>联邦快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lianhaowuliu</string>
				<key>name</key>
				<string>联昊通物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>longbanwuliu</string>
				<key>name</key>
				<string>龙邦速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lejiedi</string>
				<key>name</key>
				<string>乐捷递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lijisong</string>
				<key>name</key>
				<string>立即送</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lanhukuaidi</string>
				<key>name</key>
				<string>蓝弧快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ltexp</string>
				<key>name</key>
				<string>乐天速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lutong</string>
				<key>name</key>
				<string>鲁通快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ledii</string>
				<key>name</key>
				<string>乐递供应链</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lundao</string>
				<key>name</key>
				<string>论道国际物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lasy56</string>
				<key>name</key>
				<string>林安物流</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>M</key>
		<array>
			<dict>
				<key>id</key>
				<string>macroexpressco</string>
				<key>name</key>
				<string>ME物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>minghangkuaidi</string>
				<key>name</key>
				<string>民航快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>meiguokuaidi</string>
				<key>name</key>
				<string>美国快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>menduimen</string>
				<key>name</key>
				<string>门对门</string>
			</dict>
			<dict>
				<key>id</key>
				<string>mingliangwuliu</string>
				<key>name</key>
				<string>明亮物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>minbangsudi</string>
				<key>name</key>
				<string>民邦速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>minshengkuaidi</string>
				<key>name</key>
				<string>闽盛快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>mailikuaidi</string>
				<key>name</key>
				<string>麦力快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>mchy</string>
				<key>name</key>
				<string>木春货运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>meiquick</string>
				<key>name</key>
				<string>美快国际物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>valueway</string>
				<key>name</key>
				<string>美通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>cnmcpl</string>
				<key>name</key>
				<string>马珂博逻</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>N</key>
		<array>
			<dict>
				<key>id</key>
				<string>ganzhongnengda</string>
				<key>name</key>
				<string>能达速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>nuoer</string>
				<key>name</key>
				<string>诺尔国际物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>nell</string>
				<key>name</key>
				<string>尼尔快递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>O</key>
		<array>
			<dict>
				<key>id</key>
				<string>ocs</string>
				<key>name</key>
				<string>OCS</string>
			</dict>
			<dict>
				<key>id</key>
				<string>euasia</string>
				<key>name</key>
				<string>欧亚专线</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>P</key>
		<array>
			<dict>
				<key>id</key>
				<string>pcaexpress</string>
				<key>name</key>
				<string>PCA Express</string>
			</dict>
			<dict>
				<key>id</key>
				<string>pingandatengfei</string>
				<key>name</key>
				<string>平安达腾飞</string>
			</dict>
			<dict>
				<key>id</key>
				<string>peixingwuliu</string>
				<key>name</key>
				<string>陪行物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>pjbest</string>
				<key>name</key>
				<string>品骏快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>pengyuanexpress</string>
				<key>name</key>
				<string>鹏远国际速递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Q</key>
		<array>
			<dict>
				<key>id</key>
				<string>quanfengkuaidi</string>
				<key>name</key>
				<string>全峰快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>quanyikuaidi</string>
				<key>name</key>
				<string>全一快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>quanritongkuaidi</string>
				<key>name</key>
				<string>全日通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>quanchenkuaidi</string>
				<key>name</key>
				<string>全晨快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>qbexpress</string>
				<key>name</key>
				<string>秦邦快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>quanxintong</string>
				<key>name</key>
				<string>全信通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>quansutong</string>
				<key>name</key>
				<string>全速通国际快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>qinyuan</string>
				<key>name</key>
				<string>秦远物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>qichen</string>
				<key>name</key>
				<string>启辰国际物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>quansu</string>
				<key>name</key>
				<string>全速快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>qzx56</string>
				<key>name</key>
				<string>全之鑫物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>qskdyxgs</string>
				<key>name</key>
				<string>千顺快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>runhengfeng</string>
				<key>name</key>
				<string>全时速运</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>R</key>
		<array>
			<dict>
				<key>id</key>
				<string>nuoyaao</string>
				<key>name</key>
				<string>偌亚奥国际</string>
			</dict>
			<dict>
				<key>id</key>
				<string>rufengda</string>
				<key>name</key>
				<string>如风达快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>riyuwuliu</string>
				<key>name</key>
				<string>日昱物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>rfsd</string>
				<key>name</key>
				<string>瑞丰速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>rrs</string>
				<key>name</key>
				<string>日日顺物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>rytsd</string>
				<key>name</key>
				<string>日益通速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ruidaex</string>
				<key>name</key>
				<string>瑞达国际速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>rrskx</string>
				<key>name</key>
				<string>日日顺快线</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gdrz58</string>
				<key>name</key>
				<string>容智物流速运</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>S</key>
		<array>
			<dict>
				<key>id</key>
				<string>shunfeng</string>
				<key>name</key>
				<string>顺丰速运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>shentong</string>
				<key>name</key>
				<string>申通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>suer</string>
				<key>name</key>
				<string>速尔快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>haihongwangsong</string>
				<key>name</key>
				<string>山东海红</string>
			</dict>
			<dict>
				<key>id</key>
				<string>shenghuiwuliu</string>
				<key>name</key>
				<string>盛辉物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>shiyunkuaidi</string>
				<key>name</key>
				<string>世运快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>shengfengwuliu</string>
				<key>name</key>
				<string>盛丰物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>shangda</string>
				<key>name</key>
				<string>上大物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>santaisudi</string>
				<key>name</key>
				<string>三态速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>saiaodi</string>
				<key>name</key>
				<string>赛澳递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>shentong</string>
				<key>name</key>
				<string>申通E物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>shenganwuliu</string>
				<key>name</key>
				<string>圣安物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sxhongmajia</string>
				<key>name</key>
				<string>山西红马甲</string>
			</dict>
			<dict>
				<key>id</key>
				<string>suijiawuliu</string>
				<key>name</key>
				<string>穗佳物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>syjiahuier</string>
				<key>name</key>
				<string>沈阳佳惠尔</string>
			</dict>
			<dict>
				<key>id</key>
				<string>shlindao</string>
				<key>name</key>
				<string>上海林道货运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sfift</string>
				<key>name</key>
				<string>十方通物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gtongsudi</string>
				<key>name</key>
				<string>山东广通速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>shunjiefengda</string>
				<key>name</key>
				<string>顺捷丰达</string>
			</dict>
			<dict>
				<key>id</key>
				<string>subida</string>
				<key>name</key>
				<string>速必达物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>htwd</string>
				<key>name</key>
				<string>速通成达物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>suteng</string>
				<key>name</key>
				<string>速腾物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>bphchina</string>
				<key>name</key>
				<string>速方国际物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>stkd</string>
				<key>name</key>
				<string>顺通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sendtochina</string>
				<key>name</key>
				<string>速递中国</string>
			</dict>
			<dict>
				<key>id</key>
				<string>suning</string>
				<key>name</key>
				<string>苏宁快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sihaiet</string>
				<key>name</key>
				<string>四海快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>staky</string>
				<key>name</key>
				<string>首通快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hnssd56</string>
				<key>name</key>
				<string>顺时达物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>superb</string>
				<key>name</key>
				<string>Superb Grace</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sfjhd</string>
				<key>name</key>
				<string>圣飞捷快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hangrui</string>
				<key>name</key>
				<string>上海航瑞货运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sofast56</string>
				<key>name</key>
				<string>嗖一下同城快递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>T</key>
		<array>
			<dict>
				<key>id</key>
				<string>tiantian</string>
				<key>name</key>
				<string>天天快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>tnt</string>
				<key>name</key>
				<string>TNT快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>tiandihuayu</string>
				<key>name</key>
				<string>天地华宇</string>
			</dict>
			<dict>
				<key>id</key>
				<string>tonghetianxia</string>
				<key>name</key>
				<string>通和天下</string>
			</dict>
			<dict>
				<key>id</key>
				<string>tianzong</string>
				<key>name</key>
				<string>天纵物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>chinatzx</string>
				<key>name</key>
				<string>同舟行物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>nntengda</string>
				<key>name</key>
				<string>腾达速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sd138</string>
				<key>name</key>
				<string>泰国138</string>
			</dict>
			<dict>
				<key>id</key>
				<string>tongdaxing</string>
				<key>name</key>
				<string>通达兴物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>tlky</string>
				<key>name</key>
				<string>天联快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ibenben</string>
				<key>name</key>
				<string>途鲜物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>krtao</string>
				<key>name</key>
				<string>淘韩国际快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lntjs</string>
				<key>name</key>
				<string>特急送</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>U</key>
		<array>
			<dict>
				<key>id</key>
				<string>ups</string>
				<key>name</key>
				<string>UPS快递查询</string>
			</dict>
			<dict>
				<key>id</key>
				<string>youshuwuliu</string>
				<key>name</key>
				<string>UC优速快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ucs</string>
				<key>name</key>
				<string>UCS（合众速递）</string>
			</dict>
			<dict>
				<key>id</key>
				<string>usps</string>
				<key>name</key>
				<string>USPS美国邮政</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ueq</string>
				<key>name</key>
				<string>UEQ快递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>V</key>
		<array/>
	</dict>
	<dict>
		<key>W</key>
		<array>
			<dict>
				<key>id</key>
				<string>wanxiangwuliu</string>
				<key>name</key>
				<string>万象物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>weitepai</string>
				<key>name</key>
				<string>微特派</string>
			</dict>
			<dict>
				<key>id</key>
				<string>wanjiawuliu</string>
				<key>name</key>
				<string>万家物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>wanboex</string>
				<key>name</key>
				<string>万博快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>timedg</string>
				<key>name</key>
				<string>万家通</string>
			</dict>
			<dict>
				<key>id</key>
				<string>wtdchina</string>
				<key>name</key>
				<string>威时沛运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>wzhaunyun</string>
				<key>name</key>
				<string>微转运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gswtkd</string>
				<key>name</key>
				<string>万通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>wotu</string>
				<key>name</key>
				<string>渥途国际速运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>wandougongzhu</string>
				<key>name</key>
				<string>豌豆物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>wjkwl</string>
				<key>name</key>
				<string>万家康物流</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>X</key>
		<array>
			<dict>
				<key>id</key>
				<string>xiyoutekuaidi</string>
				<key>name</key>
				<string>希优特快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xinbangwuliu</string>
				<key>name</key>
				<string>新邦物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xinfengwuliu</string>
				<key>name</key>
				<string>信丰物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>neweggozzo</string>
				<key>name</key>
				<string>新蛋物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xianglongyuntong</string>
				<key>name</key>
				<string>祥龙运通物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xianchengliansudi</string>
				<key>name</key>
				<string>西安城联速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xilaikd</string>
				<key>name</key>
				<string>喜来快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xsrd</string>
				<key>name</key>
				<string>鑫世锐达</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xtb</string>
				<key>name</key>
				<string>鑫通宝物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xintianjie</string>
				<key>name</key>
				<string>信天捷快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xaetc</string>
				<key>name</key>
				<string>西安胜峰</string>
			</dict>
			<dict>
				<key>id</key>
				<string>nsf</string>
				<key>name</key>
				<string>新顺丰（NSF）</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xianfeng</string>
				<key>name</key>
				<string>先锋快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sunspeedy</string>
				<key>name</key>
				<string>新速航</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xipost</string>
				<key>name</key>
				<string>西邮寄</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sinatone</string>
				<key>name</key>
				<string>信联通</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sunjex</string>
				<key>name</key>
				<string>新杰物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>alog</string>
				<key>name</key>
				<string>心怡物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>csxss</string>
				<key>name</key>
				<string>新时速物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>xiangteng</string>
				<key>name</key>
				<string>翔腾物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>westwing</string>
				<key>name</key>
				<string>西翼物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>littlebearbear</string>
				<key>name</key>
				<string>小熊物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gaotieex</string>
				<key>name</key>
				<string>鑫和高铁快运</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Y</key>
		<array>
			<dict>
				<key>id</key>
				<string>yuantong</string>
				<key>name</key>
				<string>圆通速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yunda</string>
				<key>name</key>
				<string>韵达快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yundaexus</string>
				<key>name</key>
				<string>韵达美国件</string>
			</dict>
			<dict>
				<key>id</key>
				<string>youzhengguonei</string>
				<key>name</key>
				<string>邮政国内</string>
			</dict>
			<dict>
				<key>id</key>
				<string>youzhengguoji</string>
				<key>name</key>
				<string>邮政国际</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ems</string>
				<key>name</key>
				<string>邮政EMS速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yuntongkuaidi</string>
				<key>name</key>
				<string>运通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yuxinwuliu</string>
				<key>name</key>
				<string>宇鑫物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yuanchengwuliu</string>
				<key>name</key>
				<string>远成物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>youshuwuliu</string>
				<key>name</key>
				<string>优速快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yuefengwuliu</string>
				<key>name</key>
				<string>越丰物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yuananda</string>
				<key>name</key>
				<string>源安达快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yuanfeihangwuliu</string>
				<key>name</key>
				<string>原飞航物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yinjiesudi</string>
				<key>name</key>
				<string>银捷速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yitongfeihong</string>
				<key>name</key>
				<string>一统飞鸿</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yafengsudi</string>
				<key>name</key>
				<string>亚风速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yitongda</string>
				<key>name</key>
				<string>易通达</string>
			</dict>
			<dict>
				<key>id</key>
				<string>youbijia</string>
				<key>name</key>
				<string>邮必佳</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yiqiguojiwuliu</string>
				<key>name</key>
				<string>一柒物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yinsu</string>
				<key>name</key>
				<string>音素快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yilingsuyun</string>
				<key>name</key>
				<string>亿领速运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yujiawuliu</string>
				<key>name</key>
				<string>煜嘉物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>gml</string>
				<key>name</key>
				<string>英脉物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>leopard</string>
				<key>name</key>
				<string>云豹国际货运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>czwlyn</string>
				<key>name</key>
				<string>云南中诚</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sdyoupei</string>
				<key>name</key>
				<string>优配速运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yongchang</string>
				<key>name</key>
				<string>永昌物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yufeng</string>
				<key>name</key>
				<string>御风速运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yamaxunwuliu</string>
				<key>name</key>
				<string>亚马逊物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yousutongda</string>
				<key>name</key>
				<string>优速通达</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yishunhang</string>
				<key>name</key>
				<string>亿顺航</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yongwangda</string>
				<key>name</key>
				<string>永旺达快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ecmscn</string>
				<key>name</key>
				<string>易客满</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yingchao</string>
				<key>name</key>
				<string>英超物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>edlogistics</string>
				<key>name</key>
				<string>益递物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yyexpress</string>
				<key>name</key>
				<string>远洋国际</string>
			</dict>
			<dict>
				<key>id</key>
				<string>onehcang</string>
				<key>name</key>
				<string>一号仓</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ycgky</string>
				<key>name</key>
				<string>远成快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>lineone</string>
				<key>name</key>
				<string>一号线</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ypsd</string>
				<key>name</key>
				<string>壹品速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>qexpress</string>
				<key>name</key>
				<string>易达通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>vipexpress</string>
				<key>name</key>
				<string>鹰运国际速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>el56</string>
				<key>name</key>
				<string>YLTD</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yyqc56</string>
				<key>name</key>
				<string>一运全成物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yunfeng56</string>
				<key>name</key>
				<string>韵丰物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>iyoungspeed</string>
				<key>name</key>
				<string>驿扬国际速运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zgyzt</string>
				<key>name</key>
				<string>一站通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>eupackage</string>
				<key>name</key>
				<string>易优包裹</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ydglobe</string>
				<key>name</key>
				<string>云达通</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yundx</string>
				<key>name</key>
				<string>运东西</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yangbaoguo</string>
				<key>name</key>
				<string>洋包裹</string>
			</dict>
			<dict>
				<key>id</key>
				<string>uluckex</string>
				<key>name</key>
				<string>优联吉运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ubonex</string>
				<key>name</key>
				<string>优邦速运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yue777</string>
				<key>name</key>
				<string>玥玛速运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ywexpress</string>
				<key>name</key>
				<string>远为快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ezhuanyuan</string>
				<key>name</key>
				<string>易转运</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Z</key>
		<array>
			<dict>
				<key>id</key>
				<string>zhongtong</string>
				<key>name</key>
				<string>中通快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhaijisong</string>
				<key>name</key>
				<string>宅急送</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ztky</string>
				<key>name</key>
				<string>中铁快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhongtiewuliu</string>
				<key>name</key>
				<string>中铁物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhongyouwuliu</string>
				<key>name</key>
				<string>中邮物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>coe</string>
				<key>name</key>
				<string>中国东方(COE)</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhimakaimen</string>
				<key>name</key>
				<string>芝麻开门</string>
			</dict>
			<dict>
				<key>id</key>
				<string>youzhengguonei</string>
				<key>name</key>
				<string>中国邮政快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhengzhoujianhua</string>
				<key>name</key>
				<string>郑州建华</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhongsukuaidi</string>
				<key>name</key>
				<string>中速快件</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhongtianwanyun</string>
				<key>name</key>
				<string>中天万运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhongruisudi</string>
				<key>name</key>
				<string>中睿速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhongwaiyun</string>
				<key>name</key>
				<string>中外运速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zengyisudi</string>
				<key>name</key>
				<string>增益速递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>sujievip</string>
				<key>name</key>
				<string>郑州速捷</string>
			</dict>
			<dict>
				<key>id</key>
				<string>ztong</string>
				<key>name</key>
				<string>智通物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhichengtongda</string>
				<key>name</key>
				<string>至诚通达快递</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhdwl</string>
				<key>name</key>
				<string>众辉达物流</string>
			</dict>
			<dict>
				<key>id</key>
				<string>kuachangwuliu</string>
				<key>name</key>
				<string>直邮易</string>
			</dict>
			<dict>
				<key>id</key>
				<string>topspeedex</string>
				<key>name</key>
				<string>中运全速</string>
			</dict>
			<dict>
				<key>id</key>
				<string>otobv</string>
				<key>name</key>
				<string>中欧快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zsky123</string>
				<key>name</key>
				<string>准实快运</string>
			</dict>
			<dict>
				<key>id</key>
				<string>cnws</string>
				<key>name</key>
				<string>中国翼</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zytdscm</string>
				<key>name</key>
				<string>中宇天地</string>
			</dict>
			<dict>
				<key>id</key>
				<string>zhuanyunsifang</string>
				<key>name</key>
				<string>转运四方</string>
			</dict>
			<dict>
				<key>id</key>
				<string>hrbzykd@</string>
				<key>name</key>
				<string>卓烨快递</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>#</key>
		<array/>
	</dict>
</array>
</plist>
